.profile__edit-button {
    background-image: url(../../../images/avatar_edit.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border-radius: 0;
    border: solid 1px #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 24px;
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
    width: 24px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}
  
@media screen and (max-width: 767px) {
    .profile__edit-button {
        background-size: 7.5px 7.5px;
        height: 18px;
        width: 18px;
        position: absolute;
        right: 38px;
        top: 280px;
    }
}